body {
    background-color:#f2f8ef;
    font-family: arial, sans-serif;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}




input[type=text], select {
      width: 80%;
      margin: 8px 0;
      padding: 12px 20px;
      border: 2px solid #ccc;
      border-radius: 8px;
      font-size:16px;
      box-sizing: border-box;
}

.postButton {
      background-color: #f5a04e;
      margin: 4px 2px;
      padding: 20px 40px;
      border: none;
      border-radius: 8px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      color: white;
}



hr {
    display: block;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

td, th {

    text-align: left;
    border-bottom: 2px inset;
    border-bottom-color: lightgray;
    padding-top: 15px;
    
   
 
}


hr {
    display: block;
    margin-end: auto;
    margin-start: auto;
    border: 1px inset;
    overflow: hidden;
    margin-before: 0.5em;
    margin-after: 0.5em;
}

tr:nth-child(even) {
 
}

tr:nth-child(odd) {
  
}


.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 5%);
}

.page {
    width: 700px;
    height: 900px;
    padding: 30px;
    background: #FFF;
    border-left: 30px solid #FF2929;
    transform: rotate(-5deg) skewX(7deg) scale(.8);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5)
}

    .page h1 {
        margin: 0 0 20px 0;
        padding: 0;
        text-align: center;
        font-size: 25px;
        color: black;
    }

    .page p {
        margin: 0;
        padding: 0;
        text-align: justify
    }

    .page:before {
        content: "";
        width: 30px;
        height: 100%;
        background: #8a0e0e;
        position: absolute;
        top: 0;
        left: 0;
        transform: skewY(-45deg) translate(-57px, -43px)
    }

    .page:after {
        content: "";
        width: 103.5%;
        height: 30px;
        background: #CCC;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: skewX(-45deg) translate(-11px, 30px)
    }














